// flex布局复用
@mixin flex($hov:space-between,$col:center){
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

// 背景图设置
@mixin bgImg($w:0,$h:0,$img: '',$size: contain){
    display: inline-block;
    width: $w;
    height: $h;
    background: url($img) no-repeat center;
    background-size: $size;
}

@mixin position($pos: absolute,$top: 0,$left: 0,$w: 100%,$h: 100%) {
    position: $pos;
    top: $top;
    left: $left;
    width: $w;
    height: $h;
}

// 背景图设置
@mixin postionImg($pos: absolute,$top: 0,$right: 0,$w:0,$h:0,$img: ''){
    position: $pos;
    top: $top;
    right: $right;
    width: $w;
    height: $h;
    background: url($img) no-repeat center;
    background-size: contain;
}

//
@mixin sep($h: 1em,$color:#dddddd){
    position: relative;
    display: inline-block;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: $h;
        border: 1px solid $color;
    }
    &:last-child:after{
        border: none;
    }
}

@mixin sepTransform($h: 1em,$color:#dddddd){
    position: relative;
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: $h;
        border-right: 1px solid $color;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    &:last-child:after{
        border: none;
    }  
    
}

@mixin sepSpan($marginRow:0,$color:#dddddd){
    display: inline-block;
    margin: 0 $marginRow;
}